main {
  padding-bottom: 100px;
}

div.counterStyling {
  text-align: center;
  max-width: 35%;
}

button {
  background-color: transparent;
  padding: 6px 20px;
  margin-top: 10px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 10px;
}

img {
  max-width: 80%;
}
