html, body {
  font-family: sans-serif;
}

ul.menu, ul.menu > li {
  list-style: none;
  display: flex;
}

ul.menu {
  padding: 5px;
  gap: 15px;
}

a {
  color: darkolivegreen;
  font-weight: bolder;
  text-underline: darkolivegreen;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  background-color: darkolivegreen;
  color: white;
  margin-top: 80px;
}

footer > p,
footer > p > a {
  text-align: center;
  color: khaki;
}

footer > p {
  color: white;
}

samp {
  background-color: lightgrey;
  padding: 4px;
  border-radius: 4px;
}

img {
  max-width: 100%;
}
